@import "tailwindcss";

/* Nav styles */
.App nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 40px 0;
}

.App nav ul {
    display: flex;
    font-size: 18px;
    list-style: none;
    height: 100%;
}

.App nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 35px;
}

.App nav ul li button {
    margin: 0 5px;
    text-decoration: none;
    font-size: 20px;
    color: #48cee0;
    background: transparent;
}

.App nav ul li button:hover {
    color: #3694a0;
    background-color: #ffffff;
}

/* Body styles */
body {
    background-color: #181818;
    min-height: 100%vh;
}

/* Section Headings */
.section-headings {
    color: transparent;
    background: linear-gradient(
        to right,
        #42e9cd,
        #0066cc,
        rgb(76, 157, 233),
        #34dcc3
    );
    background-clip: text;
    background-size: 200%;
    animation: gradient 3s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#basicInfo {
    /* background-color: #373737; */
}
