.App nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}

.App nav ul {
    display: flex;
    font-size: 18px;
    gap: 25px;
    list-style: none;
    height: 100%;
}

.App nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 35px;
}

.App nav ul li:hover {
    background-color: #ffffff;
}

.App nav ul li a {
    margin: 10px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #48cee0;
}

.App nav ul li a:hover {
    color: #3694a0;
}

body {
    background-color: #181818;
    min-height: 100%vh;
}