.App nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}

.App nav ul {
    display: flex;
    font-size: 18px;
    list-style: none;
    height: 100%;
}

.App nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 35px;
}

.App nav ul li:hover {

}

.App nav ul li button {
    margin: 10px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #48cee0;
    background: transparent;
}

.App nav ul li button:hover {
    color: #3694a0;
    background-color: #ffffff;
}

body {
    background-color: #181818;
    min-height: 100%vh;
}